html,
body {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  margin: 0px auto;
}
body {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  button {
    background-color: #c1f1e5ef;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
  }
  button:hover {
    background-color: #40caa5f6;
  }

  header {
    img {
      width: 400px;
    }
    button {
      border-radius: 7px;
      border-color: rgb(223, 229, 230);
      background-color: #c1f1e5ef;
      font-family: "Roboto", sans-serif;
      padding: 4px;
    }
  }

  main {
    h1 {
      font-family: "Yusei Magic", sans-serif;
      font-size: 2em;
    }
    p {
      font-size: 1.3em;
      max-width: 400px;
    }
    button {
      border-radius: 3px;
      border-color: #c1f1e5ef;
      padding: 4px;
    }
    input {
      font-size: 1em;
      font-family: "Roboto", sans-serif;
      border-radius: 3px;
      border-color: #c1f1e5ef;
      padding: 4px;
    }

    #tryAgain {
      color: red;
      font-weight: bold;
      margin: 5px;
    }

    .subText {
      font-weight: bold;
      color: #52e4bfef;
    }

    .mainCont {
      display: flex;
      flex-flow: column nowrap;
    }
    .newUserCont {
      display: flex;
      flex-flow: column nowrap;

      div {
        margin: 5px;

        label {
          margin: 10px;
        }
      }
    }
  }

  footer {
    ul {
      padding-left: 5px;
      li {
        list-style: none;
        font-size: 0.8em;
      }
    }
  }
}
